@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.slick-dots li.slick-active button:before {
   color: #0077FF !important;
}
 
.slick-dots li button:before {
   color: #FFFFFF !important;
   font-size: 0.5rem !important;
   top: 1rem !important
}
 